/* -------通用样式开始 --------*/
a:hover{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul,ol{
    list-style: none;
}
/* @font-face{
    font-family: R_fonts;
    src: url("fonts/msyh.ttc")format("微软雅黑");
    src: url("fonts/simhei.ttf")format("黑体");
    src: url("fonts/simkai.ttf")format("楷体");
    src: url("fonts/simsun.ttc")format("宋体"");
}
[class = "icon-"],
[class *= "icon-"]{
    font-family: 微软雅黑;
    font-style: normal;
} */
/* -------通用样式结束 --------*/



/* -------头部开始 --------*/
#R_header{}

#R_header .top-bar{
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid #e0e0e0;
}
/* 设置除第一个元素其他元素样式 */
#R_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}
#R_header .top-bar .container .row .top-bar-1 a{
    position: relative;

}
#R_header .top-bar .container .row .top-bar-1 a img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: 9999;
    display: none;
    background-color: aqua;
}
#R_header .top-bar .container .row .top-bar-1 a:hover img{
    display: block;   
}
.icon-phone::before{
    content: '\e958';
    font-size:13px ;
}
.icon-tel::before{
    content: '\e942';
    font-size:13px ;
}
/* -------头部结束 --------*/



/* -------轮播图开始 --------*/

/* -------轮播图结束 --------*/



/* -------热门课程开始 --------*/

/* -------热门课程结束 --------*/


/* -------产品中心开始 --------*/

/* -------产品中心结束 --------*/


/* -------about开始 --------*/

/* -------about结束 --------*/


/* -------footer开始 --------*/

/* -------footer结束 --------*/