/* -------通用样式开始 --------*/
a:hover{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul,ol{
    list-style: none;
}
@font-face {
    font-family: 'iconfont';
    src: url('fonts/iconfont.eot');
    src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/iconfont.woff2') format('woff2'),
        url('fonts/iconfont.woff') format('woff'),
        url('fonts/iconfont.ttf') format('truetype'),
        url('fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
}
/* -------通用样式结束 --------*/



/* -------头部开始 --------*/

#R_header .top-bar{
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid #e0e0e0;
}
/* 设置除第一个元素其他元素样式 */
#R_header .top-bar .container .row>div+div{
    border-left: 1px solid #e0e0e0;
}
#R_header .top-bar .container .row .top-bar-1 a{
    position: relative;

}
#R_header .top-bar .container .row .top-bar-1 a img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    z-index: 9999;
    display: none;
    background-color: aqua;
}
#R_header .top-bar .container .row .top-bar-1 a:hover img{
    display: block;   
}
.icon-phone::before{
    content: '\e958';
    font-size:13px ;
}
.icon-tel::before{
    content: '\e942';
    font-size:13px ;
}


/* 下部分 */
#R_header .navbar_neck{
    border-bottom: 1px solid #e0e0e0;

}
#ListOne li{
    margin-right: 30px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ListOne li :hover{
    border-bottom: 2px solid purple;
}
/* -------头部结束 --------*/



/* -------轮播图开始 --------*/
#R_carouse_1 .carousel-item{
    height: 400px;
}
#R_carouse_1 .carousel-item img{
    width: 100%;
}
/* -------轮播图结束 --------*/



/* -------热门课程开始 --------*/

/* -------热门课程结束 --------*/


/* -------产品中心开始 --------*/

/* -------产品中心结束 --------*/


/* -------about开始 --------*/

/* -------about结束 --------*/


/* -------footer开始 --------*/

/* -------footer结束 --------*/